<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-mybatis.xml,
		classpath:spring/spring-service.xml,classpath:spring/applicationContext-shiro.xml</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  
	<filter>
	    <filter-name>loginFilter</filter-name>
	    <filter-class>mall.filter.LoginFilter</filter-class>
	    <init-param>
	    <param-name>site</param-name>
	    <param-value>cart</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	<filter-name>loginFilter</filter-name>
	<url-pattern>/fore*</url-pattern>
	</filter-mapping>
	-->
	
	<!-- shiro的filter -->
	<!-- shiro过虑器，DelegatingFilterProxy通过代理模式将spring容器中的bean和filter关联起来 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<!-- 设置true由servlet容器控制filter的生命周期 -->
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 设置spring容器filter的bean id，如果不设置则找与filter-name一致的bean-->
		<!--<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>shiroFilter</param-value>
		</init-param>-->
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<!-- 静态资源缓存 拦截器 -->
	<filter>
	<filter-name>cacheFilter</filter-name>
	<filter-class>mall.filter.CacheFilter</filter-class>
	<init-param>
	<param-name>css</param-name>
	<param-value>1</param-value>
	</init-param>
	<init-param>
	<param-name>js</param-name>
	<param-value>1</param-value>
	</init-param>
	<init-param>
	<param-name>jpg</param-name>
	<param-value>4</param-value>
	</init-param>
	<init-param>
	<param-name>png</param-name>
	<param-value>4</param-value>
	</init-param>
	</filter>
	
	<filter-mapping>
	<filter-name>cacheFilter</filter-name>
	<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	<filter-name>cacheFilter</filter-name>
	<url-pattern>*.png</url-pattern>
	</filter-mapping>


    <filter-mapping>
	<filter-name>cacheFilter</filter-name>
	<url-pattern>*.css</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	<filter-name>cacheFilter</filter-name>
	<url-pattern>*.js</url-pattern>
	</filter-mapping>
	
	<!-- 配置压缩过滤器 -->
	<filter>
	<filter-name>gzipFilter</filter-name>
	<filter-class>mall.filter.GzipFilter</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>gzipFilter</filter-name>
	  <url-pattern>*.jsp</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	


    <filter-mapping>
	<filter-name>gzipFilter</filter-name>
	<url-pattern>*.css</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	<filter-name>gzipFilter</filter-name>
	<url-pattern>*.js</url-pattern>
	</filter-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	 <error-page>  
        <error-code>403</error-code>  
        <location>/WEB-INF/pages/error/403.jsp</location>  
    </error-page>  
    
    <error-page>  
        <error-code>404</error-code>  
        <location>/WEB-INF/pages/error/404.jsp</location>  
    </error-page>  
    
    <error-page>  
        <error-code>405</error-code>  
        <location>/WEB-INF/pages/error/405.jsp</location>  
    </error-page>  
    
    <error-page>  
        <error-code>500</error-code>  
        <location>/WEB-INF/pages/error/500.jsp</location>  
    </error-page>  
    
    <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/pages/error/500.jsp</location>
    </error-page>
    
	
	<display-name>Archetype Created Web Application</display-name>

</web-app>