<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop            
           http://www.springframework.org/schema/aop/spring-aop.xsd  
            http://www.springframework.org/schema/tx            
           http://www.springframework.org/schema/tx/spring-tx.xsd  
           "><!-- 要添加最后2行 -->

	<!-- 引入外部文件 -->
	<context:property-placeholder location="classpath:/jdbc.properties" />

	<!-- 配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>

		<!-- 连接池的私有属性 -->
		<property name="maxPoolSize" value="30"></property>
		<property name="minPoolSize" value="10"></property>
		<property name="autoCommitOnClose" value="false"></property>
		<property name="checkoutTimeout" value="5000"></property>
		<property name="acquireRetryAttempts" value="2"></property>
	</bean>

	<!-- 配置sqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="typeAliasesPackage" value="org.seckill.entity"></property>
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 属性注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 给出需要的扫描Dao层接口包 -->
		<property name="basePackage" value="org.seckill.dao"></property>
	</bean>
	
	<!-- RedisDao -->
	<bean id="redisDao" class="org.seckill.dao.cache.RedisDao">
	<constructor-arg index="0" value="localhost"></constructor-arg>
	<constructor-arg index="1" value="6379"></constructor-arg>
	</bean>


</beans>